.git
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/backups/*
public/build
public/storage
.env
.env.*
!.env.example
tests
docs
examples
*.md
.phpunit.result.cache
